<form class="" action="/gabble/create" method="post">
  <h2>Create a new gab</h2>
  <p>Limit 140 characters</p>
  <textarea name="newGab" class="newGab form-control"></textarea>
  <input class="btn btn-outline-primary btn-sm" type="submit" name="" value="Save gab">
</form>
