<form class="" action="/gabble/{{post.id}}/update" method="post">
  <h2>Update your gab</h2>
  <p>Limit 140 characters</p>
  <textarea name="post" class="newGab form-control">{{post.post}}</textarea>
  <input class="btn btn-outline-primary btn-sm" type="submit" name="" value="Save gab">
</form>
