<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble</title>
  </head>

  <nav>
    <a href="/gabble/home">Gabble</a>
    <a href="/gabble/create">Create a Gabble</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/logout">Logout</a>
  </nav>
  <body>
    {{{body}}}
  </body>
</html>
