<form action="/signup/" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="Email1" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="Password1">Password</label>
    <input type="password" class="form-control" name="password" id="Password1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="confirmpassword">Confirm Password</label>
    <input type="password" class= "form-control" placeholder="Confirm Password">
  </div>

  <button type="submit" class="btn btn-default">Signup</button>
</form>
